.newsCard {
    margin: 16px;
    flex-basis: 640px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 16px;

    .newsArticles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: cross-start;
        padding: 8px;

        .title {
            font-size: 18px;
            font-weight: bold;
            margin: 8px 0;
        }

        .desc {
            font-size: 16px;
            margin: 8px 0;
        }

        .published {
            font-size: 12px;

            span{
                margin-right: 4px;
            }
        }
    }
}
