.header {
    //background-image: url('../../img/header-bg.jpg');
    background-color: #607D8B;
    background-position: bottom;
    background-size: cover;
    display: flex;
    height: 96px;
    padding: 8px 0;
    align-items: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    
    :global {
        .icon {
            font-size: 32px;
            color: white;
            margin-right: 16px;
        }

        .icon:hover {
            color: #CFD8DC;
        }
    }

    h1 {
        margin-left: 16px;
        margin-right: auto;
        color: white;
        font-size: 24px;
        font-weight: 300;
    }

    p {
        font-family: 'Sacramento', cursive;
        font-size: 48px;
        font-weight: bold;
        margin: 0 144px 0 0;
        color: white;
        align-self: center;
    }

    button {
        outline: 0;
        border: 0;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        margin-left: auto;
    }
}
